#reader-view-content {
  @apply text-lg font-sans mt-3 break-words;
  #word-spacing: 0.5em;
}

#reader-view-content h1 {
  @apply text-4xl pt-3;
}

#reader-view-content h2 {
  @apply text-3xl pt-3;
}

#reader-view-content h3 {
  @apply text-2xl pt-3;
}

#reader-view-content h4 {
  @apply text-xl pt-3;
}

#reader-view-content p {
  @apply py-3;
}

#reader-view-content pre {
  @apply font-mono overflow-scroll my-2 px-2 py-4 border-2 border-orange-500 bg-black text-white rounded-lg;
}

#reader-view-content ul {
  @apply list-disc pl-3;
}

#reader-view-content ol {
  @apply list-decimal pl-3;
}

#reader-view-content li {
  @apply pb-3 pt-1;
}

#reader-view-content code:not(pre code) {
  @apply font-mono border border-orange-500 px-2 rounded-md;
}

#reader-view-content figcaption {
  @apply text-xs opacity-75 italic;
}

#reader-view-content a {
  @apply text-orange-800 dark:text-orange-300 underline;
}

#reader-view-content img {
  @apply block ml-auto mr-auto w-full;
}

[bionic-bold] {
  @apply font-semibold;
}
