name: "Preview Link"

on:
  pull_request:
    branches:
      - main

jobs:
  comment_on_pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v3
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const prefix = `gh${context.payload.pull_request.head.sha.substr(0,7)}`
            const suffix = `hackernews-reader-jw5iyahjwq-uc.a.run.app`
            const link = `https://${prefix}---${suffix}`
            const msg = `If everything goes right, a preview of this PR should be available shortly!\n\n` +
              `Check [${link}](${link})\n\n`+
              `Thank you! :heart:`;
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: msg,
            });
